# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv

# Machine Learning Models
models/lid.176.bin

# IDE specific files
.vscode/

*.zip
hot_words_private/*.txt
temp/

tests/

# PyInstaller build files
build/
dist/
*.spec.bak
*.exe
*.app

logs/
debug_audio/
local_asr/models/
local_asr/vendor/